.credits {
    font-family: "Verdana", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
}

table table {
    text-transform: uppercase;
}

table table:last-child tbody tr:last-child td {
    color: #FFF; 
}

table table:last-child tbody tr:last-child td:first-child {
    color: #FFF;
    text-align: center;  
}

tbody tr td {
    font-family: Helvetica;   
}

td.font01 {
    padding-bottom: 3px;
    padding-top: 3px;
    text-transform: uppercase;
}

td.font01n {
    background-color: #006EA3;
    color: #FFF;
    padding-bottom: 7px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 7px;
    text-align: center;
}

